@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Song</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <h1>My Favorite Song - "Anaconda" by Nicki Minaj</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LDZX4ooRsWs"
            frameborder="0" allowfullscreen></iframe>

    <div id="animation-box"></div>

    <script src="~/js/script.js"></script>
</body>
</html>
